body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.game-container {
  text-align: center;
}

.memory-game {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  margin: 0 auto;
}

.memory-card {
  width: calc(25% - 10px);
  height: 150px;
  margin: 5px;
  position: relative;
  transform: scale(1);
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}

.memory-card .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}

.memory-card.flipped .front {
  transform: rotateY(0deg);
}

.memory-card.flipped .back {
  transform: rotateY(180deg);
}

.memory-card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2e3d49;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  transform: rotateY(0deg);
  transition: transform 0.5s;
  backface-visibility: hidden;
}

.match {
  opacity: 0.4;
}
