<!-- templates/character_selection.html -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>캐릭터 선택</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>캐릭터 선택</h1>
      <form action="{{ url_for('select_character') }}" method="post">
        {% for character in characters %}
        <div class="character-option">
          <input
            type="radio"
            id="{{ character.name }}"
            name="character"
            value="{{ character.name }}"
            required
          />
          <label for="{{ character.name }}">{{ character.name }}</label>
        </div>
        {% endfor %}
        <button type="submit">게임 시작</button>
      </form>
    </div>
  </body>
</html>
