<!-- templates/shop.html -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>상점</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>상점</h1>
      <div class="player-stats">
        <h2>{{ player.name }}</h2>
        <p>골드: {{ player.gold }}</p>
      </div>
      <div class="item-list">
        <h2>아이템 목록</h2>
        <ul>
          {% for item in items %}
          <li>
            <form action="{{ url_for('buy') }}" method="post">
              <p>
                {{ item.name }} - {{ item.effect }} - 가격: {{ item.price }}
                골드
              </p>
              <button type="submit" name="item_name" value="{{ item.name }}">
                구매
              </button>
            </form>
          </li>
          {% endfor %}
        </ul>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <form action="{{ url_for('index') }}" method="get">
          <button type="submit">나가기</button>
        </form>
      </div>
    </div>
  </body>
</html>
